@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page_width {
    max-width: 1250px;
    margin: auto;
    padding: 0px 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link li {
    list-style: none;
    display: inline-block;
    padding: 30px 15px;
}

.nav_link li a {
    color: #C4C4C4;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.nav_link li a:hover {
    color: #058B8C;
    font-weight: 700;
}

.nav_link li:last-child a {
    border-radius: 48px;
    background: #058B8C;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.20), 3px 4px 10px 0px rgba(0, 0, 0, 0.20) inset;
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 20px;
}

.nav_link li a {
    color: #C4C4C4;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.nav_link li a:hover {
    color: #058B8C;
    font-weight: 700;
}

.nav_link li:last-child a {
    border-radius: 48px;
    background: #058B8C;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.20), 3px 4px 10px 0px rgba(0, 0, 0, 0.20) inset;
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 20px;
}


/* Footer */
.outer_footer {
    padding: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}


.outer_footer .footer_column_one p {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #8F8F8F;
    margin-top: 1rem;
}

.footer_column_two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.footer_column_two li,
.footer_column_three li {
    list-style: none;
    padding: 15px;
}

.footer_column_two li a,
.footer_column_three li a {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #8F8F8F;
    text-decoration: none;
}

.footer_column_two li a:hover,
.footer_column_three li a:hover {
    color: #000000;
    font-weight: 600;
}

.news_letter {
    display: flex;
}

.news_letter input {
    width: 70%;
    border: 2px solid rgba(5, 139, 140, 1);
    border-radius: 50px;
    height: 45px;
    padding-left: 1rem;
}

.news_letter input::placeholder {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #8F8F8F;
}

.news_letter button {
    width: 27%;
    margin-left: 2px;
    box-shadow: 3px 3px 10px 0px #00000033;
    box-shadow: 3px 4px 10px 0px #00000033 inset;
    background-color: #058B8C;
    color: #fff;
    border-radius: 50px;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    border: none;

}